<!--Footer-->
<footer class="page-footer center-on-small-only">
  <!--Footer links-->
  <div class="container-fluid">
    <div class="row">
      <!--First column-->
      <div class="col-lg-3 col-md-6 ml-auto">
        <h5 class="title mb-3"><strong>About material design</strong></h5>
        <p>Material Design (codenamed Quantum Paper) is a design language developed by Google.</p>
        <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
      </div>
      <!--/.First column-->
      <hr class="w-100 clearfix d-sm-none">
      <!--Second column-->
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title mb-3"><strong>First column</strong></h5>
        <ul>
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->
      <hr class="w-100 clearfix d-sm-none">
      <!--Third column-->
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title mb-3"><strong>Second column</strong></h5>
        <ul>
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Third column-->
      <hr class="w-100 clearfix d-sm-none">
      <!--Fourth column-->
      <div class="col-lg-2 col-md-6 ml-auto">
        <h5 class="title mb-3"><strong>Third column</strong></h5>
        <ul>
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--/.Fourth column-->
    </div>
  </div>
  <!--/.Footer links-->
  <hr>
  <!--Call to action-->
  <div class="call-to-action">
    <h4 class="mb-5">Material Design for Bootstrap</h4>
    <ul>
      <li>
        <h5>Get our UI KIT for free</h5></li>
      <li><a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-primary" rel="nofollow">Sign up!</a></li>
      <li><a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default" rel="nofollow">Learn more</a></li>
    </ul>
  </div>
  <!--/.Call to action-->
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright: <a href="http://www.tcla.be"> .tcla </a>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
